<div class="project-header">
  <h2>{{projectToDisplay?.title}}</h2>
  <p>By {{projectToDisplay?.creator}} &nbsp;<img src="{{projectToDisplay?.creatorImage}}" class="creator-pics"> {{projectToDisplay?.date | date}}</p>
</div>
<div class="content-grid mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <img src="{{projectToDisplay?.url}}">
    <br><br>
    <ul>
      <li>
        <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="fundProjectOne()">
        <i class="material-icons money-icon">monetization_on</i> 1</span>
      </li>
      <li>
        <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="fundProjectFive()">
        <i class="material-icons money-icon">monetization_on</i> 5</span>
      </li>
      <li>
        <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="fundProjectTen()">
        <i class="material-icons money-icon">monetization_on</i> 10</span>
      </li>
      <li>
        <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="fundProjectTwenty()">
        <i class="material-icons money-icon">monetization_on</i> 20</span>
      </li>
      <li>
        <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="fundProjectFifty()">
        <i class="material-icons money-icon">monetization_on</i> 50</span>
      </li>
      <li>
        <span class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="fundProjectHundred()">
        <i class="material-icons money-icon">monetization_on</i> 100</span>
      </li>
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <h4>Funds needed: <span class="money">${{projectToDisplay?.goal | number}}</span></h4>
    <p>This project needs to be funded by: <span class="deadline">{{projectToDisplay?.deadline | date}}</span></p>
    <p>Location: {{projectToDisplay?.location}}</p>
    <p>Description: {{projectToDisplay?.description}}</p>
    <p>Category: {{projectToDisplay?.categories}}</p>
    <div *ngIf="projectToDisplay?.likes == 0">
      <p><span class="mdl-button mdl-js-button mdl-button--icon" (click)="likeProject()">
      <i class="material-icons like-icon">favorite_border</i></span> 0</p>
    </div>
    <div *ngIf="projectToDisplay?.likes == 1">
      <p><span class="mdl-button mdl-js-button mdl-button--icon" (click)="likeProject()">
      <i class="material-icons like-icon">favorite</i></span> {{projectToDisplay?.likes}} love</p>
    </div>
    <div *ngIf="projectToDisplay?.likes > 1">
      <p><span class="mdl-button mdl-js-button mdl-button--icon" (click)="likeProject()">
      <i class="material-icons like-icon">favorite</i></span> {{projectToDisplay?.likes}} loves</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <h5>Contribute to this project!</h5>
    <hr>
    <p>What you get:</p>
    <p>We understand not everyone can contribute financially but every little helps! With that in mind, here are some thank you gifts for different contribution levels:</p>
    <p><strong>$1 level</strong>: Thank you for donating, we will work hard to make the best product thanks to you!</p>
    <p><strong>$5 level</strong>: In addition to our unending gratitude, we will include you on our contributor page and give you a free product postcard/keychain/sticker!</p>
    <p><strong>$10 level</strong>: In addition to our thanks and a rad postcard/keychain, you will get a personalized note from the creator, and a mention on instagram!</p>
    <p><strong>$20 level</strong>: In addition to our thanks, a rad postcard/keychain, personalized note and instagram mention, you will get an early version of our product or behind the scenes prototype!</p>
    <p><strong>$50 level</strong>: In addition to our thanks, a rad postcard/keychain, personalized note and instagram mention, and an early product/prototype, you will get a full behind the scenes glimpse of the making of, and creative input on the project! (to be discussed with creator)</p>
    <p><strong>$100 level</strong>: In addition to our thanks, a rad postcard/keychain, personalized note and instagram mention, and an early product/prototype, making-of and creative input, you get dinner with the creator! (location dependent)</p>

  </div>
</div>
