<h2>{{projectToDisplay?.title}}</h2>
<p>By {{projectToDisplay?.creator}} &nbsp;<img src="{{projectToDisplay?.creatorImage}}" class="creator-pics">, on {{projectToDisplay?.date | date}}</p>
<div class="content-grid mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <img src="{{projectToDisplay?.url}}">
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <h4>Funds needed: <span class="money">${{projectToDisplay?.goal}}</span></h4>
    <p>This project needs to be funded by: {{projectToDisplay?.deadline | date}}</p>
    <p>Location: {{projectToDisplay?.location}}</p>
    <p>Description: {{projectToDisplay?.description}}</p>
    <p>Category: {{projectToDisplay?.categories}}</p>
    <div *ngIf="projectToDisplay?.likes == 0">
      <p><span class="mdl-button mdl-js-button mdl-button--icon" (click)="likeProject()">
      <i class="material-icons like-icon">favorite_border</i></span> 0</p>
    </div>
    <div *ngIf="projectToDisplay?.likes > 0">
      <p><span class="mdl-button mdl-js-button mdl-button--icon" (click)="likeProject()">
      <i class="material-icons like-icon">favorite</i></span> {{projectToDisplay?.likes}}</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <p>Funding stuff</p>
  </div>
</div>
