.page-content {
  margin: 5px;
}

.navbar {
  height: 50px;
}

.content {
  margin-top: 50px;
}

.content-grid {
  max-width: 80%;
}
img {
  max-width: 80%;
}

.title-links {
  cursor: pointer;
}

.title-links:hover {
  text-decoration: underline;
  color: darkred;
}

.content-grid {
  max-width: 90%;
}

.creator-pics {
  border-radius: 30px;
  max-width: 40px;
}

.money {
  color: green;
}

.like-icon {
  color: #FF33CE;
}
