.navbar {
  height: 50px;
}

.content {
  margin-top: 50px;
}

.content-grid {
  max-width: 80%;
}
img {
  max-width: 80%;
}

.title-links {
  cursor: pointer;
}

.title-links:hover {
  text-decoration: underline;
  color: darkred;
}
