<main class="mdl-layout__content">
  <div class="page-content">
    <h2>Browse Projects:</h2>
    <div class="content-grid mdl-grid">
    <div *ngFor="let project of projects | async" (click)="goToProjectPage(project)" class="mdl-cell project-cells" [style.background-image]="'url(' + project.url + ')'">
    <h4><span class="title-links">{{project.title}}</span></h4>
    <h6>By {{project.creator}}</h6>
    <img src="{{project.creatorImage}}" class="creator-pics">
    <br><br>
    </div>
  </div>
</div>
</main>
