<h3>Create A Project:</h3>
<form>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #author class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Who You Are?</label>
  </div>
  <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #title class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Project Title</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #goal class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?">
    <label class="mdl-textfield__label" for="sample1">Goal</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #deadline class="mdl-textfield__input" type="date" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Deadline</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #launchDate class="mdl-textfield__input" type="date" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Launch Date</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #description class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Description</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #location class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Location</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #coverImage class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Cover Image</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #avatar class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Avatar</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input #category class="mdl-textfield__input" type="text">
    <label class="mdl-textfield__label" for="sample1">Category</label>
  </div>
  <!-- <div class="mdl-selectfield mdl-js-selectfield mdl-selectfieldfloating-label">
    <select class="mdl-selectfield__select" id="category" name="category" #category>
      <option value="" disabled selected>Choose your option</option>
      <option value="technology">Technology</option>
      <option value="fashion">Fashion</option>
      <option value="art">Art</option>
      <option value="music">Music</option>
      <option value="travel">Travel</option>
      <option value="cooking">Cooking</option>
      <option value="literature">Literature</option>
      <option value="games">Games</option>
      <option value="automotive">Automotive</option>
    </select>
    <label class="mdl-selectfield__label" for="category">Category</label>
  </div> -->

  <br><br>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="addProject(author.value, title.value, goal.value, deadline.value, launchDate.value, description.value, location.value, coverImage.value, avatar.value, category.value)">
  <i class="material-icons">add</i>
</button>
</form>
